.header {
  background-color: #efd683;
  color: rgb(49, 38, 38);
  position: fixed;
  top:0;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.content {
  margin-top: 60px; /* To prevent content from being hidden behind the fixed header */
  color: #fcfcfc;
  padding: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}

.footer {
  background-color: #ea5eca;
  color: rgb(49, 38, 38);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
